.header {
    grid-area: h;
    background-color: #3d3939;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

.header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #3d3939;
    z-index: -1;
}

.header_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header img {
    width: 60px;
}